<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--Fuente-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!--Iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    






</head>

<body>
    <header>
        <!--Logo-->
        <section>
            <img src="/img/logo-mercado-liebre.svg" alt="">
        </section>
        <!--Barra de búsqueda-->
        <section>
            <input type="text" placeholder="Buscar Producto">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <br>
        </section>
        <!--Slogan-->
        <div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <br>
        <!--Barra de Navegación-->
        <nav>
            <ul id="publico">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul id="privado">
                <li><a href="#">Crear cuenta</a> <i class="fa-regular fa-address-card"></i></li>
                <li><a href="#">Ingresar</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <!--Menú burguer-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
     <section class="banner">
        <img src="/img/img-home-banner.jpg" alt="">
     </section>
            




    <main>
        <!--Basado en tu última visita-->
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <!--Productos-->
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h3 class="descripciones">Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <h3 class="descripciones">MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <h3 class="descripciones">SmartTv Samsung 43"</h3>
            </article>
            <!--Ofertas-->
        <section>
            <h2 class="titulares">Ofertas</h2>
        <!--Productos-->
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h3 class="descripciones">Cafetera Moulinex</h3>
        </article>
        <article>
            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h3 class="descripciones">MacBook Pro 2019</h3>
        </article>
        <article>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h3 class="descripciones">Samsung Galaxy S10</h3>
        </article>
        <article>
            <img src="/img/img-tv-samsung-smart.jpg" alt="">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h3 class="descripciones">SmartTv Samsung 43"</h3>
        </article>
        </section>

    </main>

    <footer>
         <!-- Sección: Pagá con tarjeta o en efectivo -->
    <section>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>

        <!-- Sección: Envío gratis desde $2,500 -->
    <section>
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

        <!-- Sección: Seguridad, de principio a fin -->
    <section>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
    </section>

        <!-- Copyright -->
    <p>&copy; 1999-2020 MercadoLiebre S.R.L.</p>

    
    </footer>
 
</body>
</html>