*
{
    Box-sizing: border-box
  }

body{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

/*Header*/
.main-header{
    background-color: #EAC926;
    padding: 20px;
    width: 100vw;
}

.logo{
    width: 100px;

}

.copy-header{
    font-weight: 400;
    text-align: center;
}

.search-bar{
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    margin: auto;
}


.hamburguer-button{
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar{
    display: none;
}


.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar ul a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.busqueda{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
}
/*mainr*/
.main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color:#ebebeb;
}

.register_format{
    border: 2px solid red;
    border-radius: 2px;
    width: 170px;
    color: red;
}


/*Footer*/

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

footer section{
    text-align: center;
    width: 60vw;
    margin-top: 15px;

}


footer section .fa-credit-card, .fa-gift, .fa-user-shield{
    background-color: white;
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}




@media (min-width: 768px) {
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;

    }
    .main-navbar li{
        margin: 0 5px;

    }

}

@media (min-width: 1200px) {
    .logo{
        width: 250px;
    }
}


    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-navbar{
        margin-top: 40px;
    }

    .main-header-top-bar{
        align-items: center;
    }



    .main-navbar li{
        margin: 0 10px;

    }

    .main-navbar a{
        font-size: 19px;
    }
    .copy-header{
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        margin: 0;

    }

/* cambio de color iconos footer */
 

.fa-credit-card {
    transition: color 0.3s ease;
}

.fa-credit-card:hover{
    color:#0022AA;
}

.fa-fa-gift {
    transition: color 0.3s ease;
}

.fa-gift:hover{
    color:#0022AA;
}

.fa-user-shield {
    transition: color 0.3s ease;
}

.fa-user-shield:hover{
    color:#0022AA;
}