*{
    Box-sizing: border-box;
    margin: 0;
  }

body{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

/*..........................................................header..............................................................*/
header{
    width: 100vw;
}
h3{
    font-size: 24px;
}
p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
} 
    
.main-header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color:#EAC926;
}
.main-header-top-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;





}

    

    
.logo{
    width: 50vw;
    object-fit: contain;
    height: 10vh;

}
.search-bar{
    width: 45vw;
    height: 10vh;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    


}
.copy-header{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.busqueda{
    width: 90%;
    height: 60%;
    border-radius: 8px;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    

}

.busqueda::placeholder{
    font-size: 16px;
    color: #666;

}


.search-bar i{
    font-size: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    border-left: 1px solid #666;
    
    


}

.hamburguesa-container{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.left-navbar a,
.right-navbar a{
    text-decoration: none;
    color: #000000;


   
}
    
.hamburguer-button{
    background-color: #1259c3;
    color: #ffffff;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    width: 50px;
    height: 50px;

}

.main-navbar{
    width: 100vw;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
.left-navbar,
.right-navbar{
    width: 50vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;

}

.left-navbar li,
.right-navbar li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;


}

   


    
    

.main-navbar li{
    margin: 0 10px;

}

.main-navbar a{
    font-size: 19px;
}

/*.....................................................responsive.........................................................*/

    
@media (min-width: 768px) {
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    
    .main-navbar{
        display: flex;
    }
    .main-navbar ul{
        display: flex;

    }
    .main-navbar li{
        margin: 0 5px;

    }
    .producto-container{
        width: 23vw;
    }

    .logo{
        width: 33vw;
    }
    .search-bar{
        width: 33vw;
    }
    .copy-header{
        width: 33vw;
    }
    .hamburguesa-container{
        display: none;
    }
    .left-navbar{
        width: 45vw;
        justify-content: flex-start;
    }
    .right-navbar{
        width: 55vw;
        justify-content: flex-end;

    }

.left-navbar li,
.right-navbar li{
    width: auto;
   
}

        
}
@media  (min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }}

    footer section {
        width: calc(33.33% - 20px); 
        margin-bottom: 0;
    }


footer section {
    margin-bottom: 20px; 
}

@media  (min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }}


    





    footer section {
        margin-bottom: 20px; 
    
            margin-bottom: 0;
        }
    
    footer section {
        margin-bottom: 20px; 
    }
    @media (min-width: 768px) {
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    footer section {
            width: calc(33.33% - 20px); 
            margin-bottom: 0;
        }
    }
/*.........................................................Main...........................................................*/

.main-section{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;

}



.main-section h2{
    width: 100vw;

}
    

    
.main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color:#ebebeb;
}



.register_format{
    border: 2px solid red;
    border-radius: 2px;
    width: 170px;
    color: red;
}

.main-form input{
    border-radius: 8px;
    

}

.main-form h3{
    color: #333;
}








/*......................................Footer.......................................................*/

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

footer section{
    text-align: center;
    width: 60vw;
    margin-top: 15px;

}


footer section .fa-credit-card, .fa-gift, .fa-user-shield{
    background-color: white;
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}


footer section {
    margin-bottom: 30px;

}
@media (min-width: 1200px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer section {
        width: calc(33.33% - 20px); /* Calcula el ancho de cada sección con un margen entre ellas */
        margin-bottom: 0;
    }
}





/*........................................Animation.................................................................*/


 /*cambio de color iconos footer */
 

.fa-credit-card {
    transition: color 0.3s ease;
}

.fa-credit-card:hover{
    color:#0022AA;
}

.fa-fa-gift {
    transition: color 0.3s ease;
}

.fa-gift:hover{
    color:#0022AA;
}

.fa-user-shield {
    transition: color 0.3s ease;
}

.fa-user-shield:hover{
    color:#0022AA;
}
   
/*Footer*/
footer section {
    margin-bottom: 20px; 
}




  






